.page {
    width: 29cm;
    min-height: 7.5cm;
	max-height: 11cm;
    /*padding: 2cm;*/
    margin: 1cm auto;
    border: none;
    /*background: #F4F3F1;*/
}
.pageInner{
    padding: 1cm;
    /*border: 2px solid black;*/
    height: 110mm;
    /*outline: 2cm #F4F3F1 solid;*/
    
}

/*Header*/

.myHeader{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}
.myHeader.black{
    background-color: #dc3458ff;
}
.header--logo{
    height: 70px;
}
.header--logo img{
    height: 100%;
}
.header--user{
    height: 35px;
}
.header--user img{
    height: 100%;
    border-radius: 3px;
}

.header--seach{
    height: 70px;
}
.header--seach input{
    height: 35px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 8px;
    border:"solid 1px gray";
    
    min-width: 400px;
    color:white;
    background-color: inherit;
}

@page {
   /*size: A4;*/
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
       /* background: initial;*/
        page-break-after: always;
    }
}